<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/magazine/genieList.css">
    <script src="/adminpage/app/magazine/genieList.js"></script>
<!-- head.html 끝-->
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="contwrap">
                    <div class="search">
                        <p class="title">지니매거진</p>
                    </div>
                    <table id="itemList">
                        <colgroup>
                            <col width="100">
                            <col width="460">
                            <col width="180">
                            <col width="180">
                            <col width="180">
                        </colgroup>
                        <tr>
                            <td>번호</td>
                            <td>제목</td>
                            <td>지니퀴즈</td>
                            <td>PDF다운로드</td>
                            <td>등록일</td>
                        </tr>
                        <tr v-for="dto in itemList">
                            <td>{{dto.mzIndex}}</td>
                            <td><a :href=`/pages/admin/genielist_view/${dto.mzIndex}`>{{dto.mzTitle}}</a></td>
                            <td>{{dto.mzAnswer}}</td>
                            <td>{{dto.mzAnswer}}</td>
                            <td>{{dto.mzRegdate.substr(0,10)}}</td>
                        </tr>
                    </table>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                    <td><a href="#">3</a></td>
                                    <td><a href="#">4</a></td>
                                    <td><a href="#">5</a></td>
                                    <td><a href="#">6</a></td>
                                    <td><a href="#">7</a></td>
                                    <td><a href="#">8</a></td>
                                    <td><a href="#">9</a></td>
                                    <td><a href="#">10</a></td>
                                    <td><a href="#"></a></td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </table>
                        </div>
                        <a href="/pages/admin/genielist_add" class="notice_write"><input type="button" value="작성하기"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>