<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
    <link rel="stylesheet" href="/adminpage/lib/css/magazine/genieList_view.css">
    <link rel="stylesheet" href="/adminpage/lib/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/adminpage/app/magazine/genieList.js"></script>
<body>
    <div id="wrap">
        <header>
            <div class="header_inner">
                <a href="../admin_index.html"><div class="img"></div></a><a href="/AdminPage/admin_index.html"><span>관리자 센터</span></a>
                <div class="logout"><p class="myname">반하나</p><input type="text" value="님" class="nim"><input type="button" value="Logout" onclick="location.href='../admin_login.html'"></div>
            </div>
        </header>
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="contwrap">
                    <div class="search">
                        <p class="title">지니매거진 세부</p>
                    </div>
                    <table>
                        <colgroup>
                            <col width="100">
                            <col width="460">
                            <col width="180">
                        </colgroup>
                        <tr>
                            <td>제목</td>
                            <td>VOL.39매거진(2020년 5월)</td>
                            <td>등록일 2020-05-01</td>
                        </tr>
                        <tr>
                            <td  colspan="3" class="file_id">
                                <div class="file-upload">
                                    메인 페이지 파일 첨부
                                    <input type="text" class="filetext1">
                                </div>
                                <div class="file-upload">
                                    퀴즈 파일 첨부
                                    <input type="text" class="filetext2">
                                </div>
                                <div class="file-upload">
                                    매거진 파일 첨부
                                    <input type="text" class="filetext3">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <a href="./genieList.html" class="notice_write"><input type="button" value="목록"></a>
                        <input type="button" value="삭제" class="del_btn">
                        <a href="./genieList_edit.html" class="notice_write"><input type="button" value="수정"></a>
                    </div>
                </div>  
            </div>
            <div class="modal_isfind">
                <div class="modal">
                    <p>※ 주의</p>
                    <p>지니 매거진을 삭제합니다.</p>
                    <p>삭제된 경우 <span>데이터</span> 복구가 어려우니 유의바랍니다.</p>
                    <form action="#">
                        <input type="button" class="btn_cancel" value="취소">
                        <input type="button" value="삭제" id="add_btn" onclick="location.href='./genieList.html'">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>