<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/magazine/genieList.css">
    <link rel="stylesheet" href="/adminpage/lib/css/magazine/style.css">
    <script src="/adminpage/app/magazine/genieList.js"></script>
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="contwrap">
                    <div class="search">
                        <p class="title">지니매거진</p>
                    </div>
                    <table>
                        <colgroup>
                            <col width="100">
                            <col width="460">
                            <col width="180">
                            <col width="180">
                            <col width="180">
                        </colgroup>
                        <tr>
                            <td>번호</td>
                            <td>제목</td>
                            <td>지니퀴즈</td>
                            <td>PDF다운로드</td>
                            <td>등록일</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(2020년 03월)</a></td>
                            <td>jiniquiz_38.pdf</td>
                            <td>jiniquiz_38.pdf</td>
                            <td>2020-03-01</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td><a href="./genieList_view.html">VOL.37 매거진(타이베이)(2020년 03월)</a></td>
                            <td>jiniquiz_37.pdf</td>
                            <td>jiniquiz_37.pdf</td>
                            <td>2020-01-01</td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(다낭)(2019년 12월)</a></td>
                            <td>jiniquiz_36.pdf</td>
                            <td>jiniquiz_36.pdf</td>
                            <td>2019-12-01</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td><a href="./genieList_view.html">VOL.38 매거진(방콕)(2019년 1월)</a></td>
                            <td>jiniquiz_35.pdf</td>
                            <td>jiniquiz_35.pdf</td>
                            <td>2019-11-01</td>
                        </tr>
                    </table>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                    <td><a href="#">3</a></td>
                                    <td><a href="#">4</a></td>
                                    <td><a href="#">5</a></td>
                                    <td><a href="#">6</a></td>
                                    <td><a href="#">7</a></td>
                                    <td><a href="#">8</a></td>
                                    <td><a href="#">9</a></td>
                                    <td><a href="#">10</a></td>
                                    <td><a href="#"></a></td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </table>
                        </div>
                        <a href="./genieList_add.html" class="notice_write"><input type="button" value="작성하기"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>