<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="userpage/fragment/head :: head"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/userpage/lib/css/payment/complete.css" />
<script src="/userpage/app/payment/complete.js"></script>
<body>
<input type="hidden" id="memid" th:value="${memberApiResponse.memIndex}">
<input type="hidden" name="" th:each="dto : ${reserveApiResponse1}" class="cookies" th:id="${dto.reIndex}" th:value="${dto.reIndex}">
    <ul class="skipnavi">
        <!--책갈피 역할-->
        <li><a href="#container">본문내용</a></li>
    </ul>
    <!--wrap-->
    <div id="wrap">
        <!--header-->
        <div th:replace="${loginURL} :: menu"></div>
        <!--header 끝-->
        <!--container-->
        <div id="container">
            <div class="wrap w_1160">
                <div class="title">
                    <h2>결제가 완료 되었습니다.</h2>
                </div>
                <div class="reserve_info">
                    <h3>예약정보</h3>
                    <table>
                        <tr>
                            <th>예약일</th>
                            <td th:value="${reserveApiResponse1[0].reSchStartTime}"></td>
                            <th>예약번호</th>
                            <td>[[${reReserNum}]]</td>
                        </tr>
                        <tr>
                            <th>상태</th>
                            <td>확약</td>
                            <th>탑승객수</th>
                            <td>1명</td>
                        </tr>
                        <tr>
                            <th>
                                여정1
                                <p>LJ309</p>
                            </th>
                            <td colspan="3" class="info">
                                <div class="in_bl">
                                    <span>[[${reserveApiResponse1[0].reSchDepPoint}]]</span>
                                    <p>[출발]2022-10-25(화) 06:05</p>
                                </div>
                                <span class="arrow">
                                    <img src="/userpage/lib/img/right_arrow.PNG" alt="에서">
                                </span>
                                <div class="in_bl">
                                    <span>[[${reserveApiResponse1[0].reSchArrPoint}]]</span>
                                    <p>[도착]2022-10-25(화) 07:20</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                여정2
                                <p>LJ309</p>
                            </th>
                            <td colspan="3" class="info">
                                <div class="in_bl">
                                    <span>제주(CJU)</span>
                                    <p>[출발]2022-10-25(화) 06:05</p>
                                </div>
                                <span class="arrow">
                                    <img src="/userpage/lib/img/right_arrow.PNG" alt="에서">
                                </span>
                                <div class="in_bl">
                                    <span>서울/김포(GMP)</span>
                                    <p>[도착]2022-10-25(화) 07:20</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="user_info">
                    <h3>탑승객 정보</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>성명</th>
                                <th>구분</th>
                                <th>성별</th>
                                <th>생년월일</th>
                                <th>국적</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>김사과</td>
                                <td>성인</td>
                                <td>여</td>
                                <td>2000-10-11</td>
                                <td>한국 (REPUBLIC OF KOREA)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pay_info">
                    <h3>결제정보</h3>
                    <table>
                        <tr>
                            <th>결제방식</th>
                            <td>마스터카드</td>
                            <th>상세정보</th>
                            <td>606045XXXXXX0646</td>
                        </tr>
                        <tr>
                            <th>승인번호</th>
                            <td>06116075</td>
                            <th>구매일</th>
                            <td>2022-01-24(월)</td>
                        </tr>
                        <tr>
                            <th>결제금액</th>
                            <td>KRW 164,200</td>
                            <td colspan="2">
                                <button>
                                    <img src="/userpage/lib/img/printer.png" alt="프린터">
                                    영수증 인쇄
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="to_main">
                    <a href="../../../index.html">
                        메인
                    </a>
                </div>
            </div>
        </div>
        <!--container 끝-->
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <!--퀵 메뉴-->
    <!--퀵 메뉴 끝-->

    <div class="modal"></div>
</body>

</html>