<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
    <link rel="stylesheet" href="/adminpage/lib/css/style.css">
    <link rel="stylesheet" href="/adminpage/lib/css/notice/notice.css">
    <script src="/adminpage/app/notice/notice.js"></script>
<body>
    <div id="wrap">
        <header>
            <div class="header_inner">
                <a href="../admin_index.html"><div class="img"></div></a><a href="/AdminPage/admin_index.html"><span>관리자 센터</span></a>
                <div class="logout"><p class="myname">반하나</p><input type="text" value="님" class="nim"><input type="button" value="Logout" onclick="location.href='../admin_login.html'"></div>
            </div>
        </header>
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu"></div>
            <div class="contents">
                <div class="con_wrap">
                    <div class="search">
                        <p class="title">공지사항 목록</p>
                        <form method="get" action="#">
                            <input type="text" placeholder="검색어를 입력하세요">
                            <input type="submit" value="검색">
                        </form>
                    </div>
                    <table>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록일</th>
                        </tr>
                        <tr>
                            <td>[공지]</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 신분증 미소지 승객 탑승 불가 안내</a></td>
                            <td>2022-01-24</td>
                        </tr>
                        <tr>
                            <td>[공지]</td>
                            <td style="text-align: left;"><a href="./nt_view.html">진에어 국제선 비정상운항 안내</a></td>
                            <td>2022-01-22</td>
                        </tr>
                        <tr>
                            <td>[공지]</td>
                            <td style="text-align: left;"><a href="./nt_view.html">진에어 국내선 비정상운항 안내</a></td>
                            <td>2022-01-10</td>
                        </tr>
                        <tr>
                            <td>131</td>
                            <td style="text-align: left;"><a href="./nt_view.html">개인정보처리방침 개정 안내</a></td>
                            <td>2021-12-24</td>
                        </tr>
                        <tr>
                            <td>130</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 유류할등료 안내(2022년 2월)</a></td>
                            <td>2021-12-12</td>
                        </tr>
                        <tr>
                            <td>129</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 신규 정기노선 운임 공지(김포 - 사천 노선)</a></td>
                            <td>2021-07-23</td>
                        </tr>
                        <tr>
                            <td>128</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 신규 정기노선 운임 공지(김포 - 양양 노선)</a></td>
                            <td>2021-07-23</td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td style="text-align: left;"><a href="./nt_view.html">지니쿠폰 운영 정책 변경 안내</a></td>
                            <td>2021-01-28</td>
                        </tr>
                        <tr>
                            <td>126</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 신분증 미소지 승객 탑승 면책 조항 개설</a></td>
                            <td>2021-01-21</td>
                        </tr>
                        <tr>
                            <td>130</td>
                            <td style="text-align: left;"><a href="./nt_view.html">국내선 유류할등료 안내(2021년 1월)</a></td>
                            <td>2021-01-01</td>
                        </tr>
                    </table>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                    <td><a href="#">3</a></td>
                                    <td><a href="#">4</a></td>
                                    <td><a href="#">5</a></td>
                                    <td><a href="#">6</a></td>
                                    <td><a href="#">7</a></td>
                                    <td><a href="#">8</a></td>
                                    <td><a href="#">9</a></td>
                                    <td><a href="#">10</a></td>
                                    <td><a href="#"></a></td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </table>
                        </div>
                        <a href="./nt_write.html" class="notice_write"><input type="button" value="공지사항 등록"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>