<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/promotion/event/nowLeave.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/promotion/event/nowLeave.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<!-- head 끝 -->
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="userpage/fragment/menu :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="backgreen"></div>
        <div class="contentswrap">
            <div class="contentstop">
                <p>지금 떠나세요!</p>
                <p>당신의 심장이 반응하는 그 곳으로</p>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href=""><img src="/userpage/lib/img/1ad.png" alt="1번"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href=""><img src="/userpage/lib/img/2ad.png" alt="2번"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href=""><img src="/userpage/lib/img/3ad.png" alt="3번"></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <p class="controller">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </p>
                <div class="wrap-autoplay-control">
                    <button aria-pressed="false" aria-label="자동 재생 일시정지"></button>
                </div>
            </div>
            <div class="event_kind">
                <table>
                    <tr>
                        <th class="dis_ing cursor">진행중 이벤트</th>
                        <th class="dis_end cursor">종료된 이벤트</th>
                        <th class="dis_win cursor">당첨자 발표</th>
                    </tr>
                </table>
            </div>
            <!--제휴 카드-->
            <div class="ing">
                <div class="ing_wrapper">
                    <ul>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event1_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] 우리카드 매일 밤 심야혜택"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2022-02-01 ~ 2022-11-30"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event2_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] LG U+ 여행콕 신설 진에어 단독 혜택"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2022-01-03 ~ 2022-06-30"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event3_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] [진에어 x 밀크] 오직 밀크에서만 지니쿠폰 40% 할인"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2022-01-03 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event4_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] 진에어X하나카드 크로스데이 혜택"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2021-12-31 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event5_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] 하나은행 환전지갑 서비스로 최대 90% 환율 우대 받자 !"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2021-07-01 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ing_event">
                                <div class="ing_event6_img"></div>
                                <div class="ing_event1_contents">
                                    <p class="ing_title"><input type="text" value="[이벤트] 무료 수하물/기내식과 함께 더 편해! 진에어"></p>
                                    <p class="ing_regdate"><input type="text" value="이벤트 기간 : 2020-03-31 ~ 2022-03-30"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="end">
                <div class="end_wrapper">
                    <ul>
                        <li>
                            <div class="end_event">
                                <div class="end_event1_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] 우리카드 매일 밤 심야혜택"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2022-02-01 ~ 2022-11-30"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="end_event">
                                <div class="end_event2_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] LG U+ 여행콕 신설 진에어 단독 혜택"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2022-01-03 ~ 2022-06-30"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="end_event">
                                <div class="end_event3_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] [진에어 x 밀크] 오직 밀크에서만 지니쿠폰 40% 할인"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2022-01-03 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="end_event">
                                <div class="end_event4_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] 진에어X하나카드 크로스데이 혜택"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2021-12-31 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="end_event">
                                <div class="end_event5_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] 하나은행 환전지갑 서비스로 최대 90% 환율 우대 받자 !"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2021-07-01 ~ 2022-12-31"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="end_event">
                                <div class="end_event6_img"></div>
                                <div class="end_event1_contents">
                                    <p class="end_title"><input type="text" value="[이벤트] 무료 수하물/기내식과 함께 더 편해! 진에어"></p>
                                    <p class="end_regdate"><input type="text" value="이벤트 기간 : 2020-03-31 ~ 2022-03-30"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                    <td><a href="#">3</a></td>
                                    <td><a href="#">4</a></td>
                                    <td><a href="#">5</a></td>
                                    <td><a href="#">6</a></td>
                                    <td><a href="#">7</a></td>
                                    <td><a href="#">8</a></td>
                                    <td><a href="#">9</a></td>
                                    <td><a href="#">10</a></td>
                                    <td><a href="#"></a></td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="win">
                <div class="win_wrapper">
                    <table>
                        <colgroup>
                            <col width="150">
                            <col width="750">
                            <col width="280">
                        </colgroup>
                        <tr>
                            <td>번호</td>
                            <td>제목</td>
                            <td>작성일</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>딜라이트 팝업 스토어 22년 1월 당첨자 안내</td>
                            <td>2022-01-24</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>인스타 방탈출 이벤트 2탄 당첨자 발표</td>
                            <td>2021-12-29</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>[ 당첨자 발표 ] 겨울엔, Jin한 커피 한 잔 할까요</td>
                            <td>2021-12-14</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>인스타 방탈출 이벤트 당첨자 발표</td>
                            <td>2021-08-19</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>[당첨자 발표] 그린서포터즈 해외탐방 배틀전 프로모션</td>
                            <td>2019-03-11</td>
                        </tr>
                        <tr>
                            <td>36</td>
                            <td>[당첨자 발표] 진에어 타고 코코몽에코파크로 이벤트</td>
                            <td>2017-05-11</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>Green, Green Donation 당첨자 발표</td>
                            <td>2013-05-02</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>'메리 크리스마스, 메리 오키나와' 퀴즈 1차 이벤트 당첨자 발표</td>
                            <td>2013-01-02</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>"진에어 취항 1주년 기념 Summer Festival" 이벤트 당첨자 발표 안내(2/2)</td>
                            <td>2009-09-21</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>"진에어 취항 1주년 기념 Summer Festival" 이벤트 당첨자 발표 안내(2/2)</td>
                            <td>2009-09-21</td>
                        </tr>
                    </table>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                    <td><a href="#">3</a></td>
                                    <td><a href="#">4</a></td>
                                    <td><a href="#">5</a></td>
                                    <td><a href="#">6</a></td>
                                    <td><a href="#">7</a></td>
                                    <td><a href="#">8</a></td>
                                    <td><a href="#">9</a></td>
                                    <td><a href="#">10</a></td>
                                    <td><a href="#"></a></td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
</div>
<!--wrap 끝-->
<div class="modal"></div>
<!--퀵 메뉴-->
<div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
<!--퀵 메뉴 끝-->
</body>
</html>