<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<head><div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/style.css">
    <link rel="stylesheet" href="/adminpage/lib/css/point/pointadd.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="con_wrap">
                    <p class="title">지니 포인트 등록</p>
                    <div class="contents_main">
                        <div class="point_tap">
                            <div class="left_side">
                                <div class="point_op">
                                    <p>구분</p>
                                    <select class="point_box" id="select_box" name="selectbox">
                                        <option value="" selected="selected">선택</option>
                                        <option value="이륙 지원 보상">이륙 지연 보상</option>
                                        <option value="이벤트 당첨">이벤트 당첨</option>
                                        <option value="우수 회원">우수 회원</option>
                                        <option value="공모전 수상">공모전 수상</option>
                                        <option value="직접 입력">직접 입력</option>
                                    </select>
                                </div>
                                <div class="point_category">
                                    <p>예약자 조회</p>
                                    <div>
                                        <p>구분</p>
                                        <select class="country_box" name="selectbox">
                                            <option value="local" selected>국내</option>
                                            <option value="foreign">국외</option>
                                        </select>
                                    </div>
                                    <div>
                                        <p>출발일</p>
                                        <input type="date" id="start">
                                    </div>
                                    <div>
                                        <select class="airport_box" name="selectbox">
                                            <option value="" selected="selected">운항 일정 선택</option>
                                            <option value="">PUS -> ICN 08:20</option>
                                            <option value="">PUS -> CJU 08:40</option>
                                            <option value="">ICN -> CJU 09:00</option>
                                            <option value="">GMP -> PUS 09:20</option>
                                            <option value="">CJU -> ICN 09:40</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="submit" value="조회" class="btn_search">
                                    </div>
                                </div>
                                <div class="user_category">
                                    <p>고객 조회</p>
                                    <div>
                                        <p>아이디</p>
                                        <input type="text" id="userid" placeholder="아이디를 입력하세요">
                                    </div>
                                    <div>
                                        <input type="submit" value="조회" class="btn_usersearch">
                                    </div>
                                </div>
                            </div>
                            <div class="table_area">
                                <!--  이륙 지연 보상  -->
                                <div class="select_rs">
                                    <table>
                                        <colgroup>
                                            <col width="50">
                                            <col width="70">
                                            <col width="170">
                                            <col width="170">
                                            <col width="100">
                                            <col width="150">
                                        </colgroup>
                                        <tr>
                                            <td>선택</td>
                                            <td>예약번호</td>
                                            <td>성명</td>
                                            <td>이메일</td>
                                            <td>생년월일</td>
                                            <td>연락처</td>
                                        </tr>
                                    </table>
                                    <div class="wrapper">
                                        <table>
                                            <colgroup>
                                                <col width="50">
                                                <col width="70">
                                                <col width="170">
                                                <col width="170">
                                                <col width="100">
                                                <col width="150">
                                            </colgroup>
                                            <tr>
                                                <td><input type="checkbox" name=""></td>
                                                <td>11Q32D</td>
                                                <td>홍길동(HONG GILDONG)</td>
                                                <td>dongdong@naver.com</td>
                                                <td>19961022</td>
                                                <td>010-0000-0000</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="point_footer">
                                        <div>
                                            <input type="text" class="pointnumber"><input type="text" value="%" readonly class="readonly">
                                            <input type="submit" value="적립">
                                        </div>
                                    </div>
                                </div>
                                <!--  유저 아이디 검색  -->
                                <div class="select_user" id="memList">
                                    <table>
                                        <colgroup>
                                            <col width="50">
                                            <col width="100">
                                            <col width="170">
                                            <col width="170">
                                            <col width="100">
                                            <col width="150">
                                        </colgroup>
                                        <tr>
                                            <td>선택</td>
                                            <td>아이디</td>
                                            <td>성명</td>
                                            <td>이메일</td>
                                            <td>생년월일</td>
                                            <td>연락처</td>
                                        </tr>
                                    </table>
                                    <div class="userwraper">
                                        <table>
                                            <colgroup>
                                                <col width="50">
                                                <col width="100">
                                                <col width="170">
                                                <col width="170">
                                                <col width="100">
                                                <col width="150">
                                            </colgroup>
                                            <tr v-for="dto in memList">
                                                <td><input type="checkbox" name=""><input type="hidden" id="memIndex"></td>
                                                <td>{{dto.memUserid}}</td>
                                                <td>{{dto.memKorFirstName}}{{dto.memKorLastName}}</td>
                                                <td>{{dto.memEmail}}</td>
                                                <td>{{dto.memBirth}}</td>
                                                <td>{{dto.memHp}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="point_footer">
                                        <div class="select_user">
                                            <input type="text" class="pointnumber">
                                            <input type="text" value="Point" readonly class="readonly">
                                            <input type="button" id="updatePoint" value="적립">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/adminpage/app/point/pointadd.js"></script>
</body>
</html>