<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<head><div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/style.css">
    <link rel="stylesheet" href="/adminpage/lib/css/point/usepointlist.css">
    <script src="/adminpage/app/point/usepointlist.js"></script>
</head>
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="con_wrap">
                    <div class="search">
                        <p class="title">포인트 사용 내역 조회</p>
                        <form method="get" action="#">
                            <input type="text" placeholder="아이디를 입력하세요">
                            <input type="submit" value="검색">
                        </form>
                    </div>  
                    <table>
                        <colgroup>
                            <col width="120">
                            <col width="120">
                            <col width="250">
                            <col width="120">
                            <col width="140">
                            <col width="150">
                            <col width="100">
                        </colgroup>
                        <tr>
                            <td>적립포인트</td>
                            <td>사용 포인트</td>
                            <td>구간</td>
                            <td>보유포인트</td>
                            <td>적립내역</td>
                            <td>사용내역</td>
                            <td>일자</td> 
                        </tr>
                        <tr>
                            <td>30,000</td>
                            <td>-</td>
                            <td>서울/인천(ICN)-방콕(BKK)</td>
                            <td>42,660</td>
                            <td>운행 지연 보상</td>
                            <td>-</td>
                            <td>2020-08-28</td>
                        </tr>
                        <tr>
                            <td>30,000</td>
                            <td>-</td>
                            <td>서울/인천(ICN)-방콕(BKK)</td>
                            <td>42,660</td>
                            <td>운행 지연 보상</td>
                            <td>-</td>
                            <td>2020-08-28</td>
                        </tr>
                        <tr>
                            <td>30,000</td>
                            <td>-</td>
                            <td>서울/인천(ICN)-방콕(BKK)</td>
                            <td>42,660</td>
                            <td>운행 지연 보상</td>
                            <td>-</td>
                            <td>2020-08-28</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>