<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/cm/cm_list.css">
<script src="/adminpage/app/cm/cm_list.js"></script>
<!-- head.html 끝-->
<body>
<div id="wrap">
    <div th:replace="/adminpage/fragment/header :: header"></div>
    <div id="container">
        <div th:replace="/adminpage/fragment/leftmenu :: leftmenu"></div>
        <div class="contents">
            <div id="cm_list_box">
                <div id="cm_list_search">
                    <div id="cm_list_title">고객 조회</div>
                    <form method="get" action="#">
                        <input type="text" placeholder="아이디를 입력하세요">
                        <input type="submit" value="검색">
                    </form>
                </div>
                <div id="cm_list">
                    <table>
                        <tr>
                            <th>고유 번호</th>
                            <th>아이디</th>
                            <th>성명</th>
                            <th>생년월일</th>
                            <th>연락처</th>
                            <th>가입일자</th>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234564</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">19990101</a></td>
                            <td><a href="./cm_detail.html">010-1111-1111</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234565</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">배 애리(BAE AERRI)</a></td>
                            <td><a href="./cm_detail.html">19970912</a></td>
                            <td><a href="./cm_detail.html">010-2222-2222</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234566</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">이 메론(LEE MELON)</a></td>
                            <td><a href="./cm_detail.html">19960521</a></td>
                            <td><a href="./cm_detail.html">010-3333-3333</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234567</a> </td>
                            <td><a href="./cm_detail.html">banana</a></td>
                            <td><a href="./cm_detail.html">반 하나(BAN HANA)</a></td>
                            <td><a href="./cm_detail.html">19870630</a></td>
                            <td><a href="./cm_detail.html">010-4444-4444</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234568</a> </td>
                            <td><a href="./cm_detail.html">avocado</a></td>
                            <td><a href="./cm_detail.html">안 가도(AHN GADO)</a></td>
                            <td><a href="./cm_detail.html">19620114</a></td>
                            <td><a href="./cm_detail.html">010-5555-5555</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234569</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">20070314</a></td>
                            <td><a href="./cm_detail.html">010-6666-6666</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234570</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">19990101</a></td>
                            <td><a href="./cm_detail.html">010-7777-7777</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234571</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">19990101</a></td>
                            <td><a href="./cm_detail.html">010-8888-8888</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234572</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">19990101</a></td>
                            <td><a href="./cm_detail.html">010-9999-9999</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                        <tr>
                            <td><a href="./cm_detail.html">234573</a> </td>
                            <td><a href="./cm_detail.html">APPLE</a></td>
                            <td><a href="./cm_detail.html">김 사과(KIM SAGWA)</a></td>
                            <td><a href="./cm_detail.html">19990101</a></td>
                            <td><a href="./cm_detail.html">010-1234-5678</a></td>
                            <td><a href="./cm_detail.html">2022-02-03</a></td>
                        </tr>
                    </table>
                </div>
                <div class="footer">
                    <div class="center">
                        <table>
                            <tr>
                                <td><a href="#">1</a></td>
                                <td><a href="#">2</a></td>
                                <td><a href="#">3</a></td>
                                <td><a href="#">4</a></td>
                                <td><a href="#">5</a></td>
                                <td><a href="#">6</a></td>
                                <td><a href="#">7</a></td>
                                <td><a href="#">8</a></td>
                                <td><a href="#">9</a></td>
                                <td><a href="#">10</a></td>
                                <td><a href="#"></a></td>
                                <td><a href="#"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>