<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/inquiry/faq_main2.css">
<script src="/adminpage/lib/app/faq_main.js"></script>
<!-- head.html 끝-->
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="con_wrap">
                    <div class="title">
                        <p>FAQ 목록</p>
                    </div>
                    <div class="contents_top">
                        <div class="faq_check_box">
                            <li><a href="/pages/admin/faq_main">전체</a></li>
                            <li><a href="/pages/admin/faq_main1">항공권 예매</a></li>
                            <li><a href="/pages/admin/faq_main2">할인 제도</a></li>
                            <li><a href="/pages/admin/faq_main3">수하물</a></li>
                            <li><a href="/pages/admin/faq_main4">기내 서비스</a></li>
                            <li><a href="/pages/admin/faq_main5">기타</a></li>
                        </div>
                        <div class="btn_top">
                            <input type="text" placeholder="검색어를 입력하세요.">
                            <input type="button" value="검색">
                        </div>
                    </div>
                    <div class="contents_main">
                        <table>
                            <tr>
                                <td>번호</td>
                                <td>제목</td>
                                <td>등록일</td>
                            </tr>
                            <tr v-for="dto in tableBoard">
                                <td>{{dto.faqIndex}}</td>
                                <td><a href="/pages/admin/faq_view/{id}">{{dto.faqTitle}}</a></td>
                                <td>{{dto.faqRegdate}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="contents_bottom">
                        <div class="faq_btn_write">
                            <input type="button" value="작성하기" onclick="location.href='faq_write.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>