<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/inquiry/faq_main1.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<!-- head.html 끝-->
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="con_wrap">
                    <div class="title">
                        <p>FAQ 목록</p>
                    </div>
                    <div class="contents_top">
                        <div class="faq_check_box">
                            <li><a href="/pages/admin/faq_main">전체</a></li>
                            <li><a href="/pages/admin/faq_main1">항공권 예매</a></li>
                            <li><a href="/pages/admin/faq_main2">할인 제도</a></li>
                            <li><a href="/pages/admin/faq_main3">수하물</a></li>
                            <li><a href="/pages/admin/faq_main4">기내 서비스</a></li>
                            <li><a href="/pages/admin/faq_main5">기타</a></li>
                        </div>
                        <div class="btn_top">
                            <input type="text" placeholder="검색어를 입력하세요."class="searchFaq" >
                            <input type="button" value="검색" class="btn_searchFaq">
                        </div>
                    </div>
                    <div class="contents_main">
                        <table class="tableBoard1">
                            <tr>
                                <td>번호</td>
                                <td>제목</td>
                                <td>등록일</td>
                            </tr>
                            <tr v-for="faq in tableBoard1By('항공권 예매')">
                                <td>{{faq.faqIndex}}</td>
                                <td><a :href=`/pages/admin/faq_view/${faq.faqIndex}`>{{faq.faqTitle}}</a></td>
                                <td>{{faq.faqRegdate.substr}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="contents_bottom">
                        <div id="button" class="buttonList"> </div>
                        <div class="faq_btn_write">
                            <a href="/pages/admin/inquiry/faq_write" class="faq_write"><input type="button" value="작성하기"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/adminpage/app/inquiry/faq_main1.js"></script>
</html>