<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/inquiry/qna_main.css">
<script src="/adminpage/app/inquiry/qna_main.js"></script>
<!-- head.html 끝-->
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="con_wrap">
                    <div class="title">
                        <p>Q&A 세부내용</p>
                    </div>
                    <div class="qustion_table">
                        <table>
                            <tr>
                                <td>결제금액은 언제 돌려받아요?</td>
                                <td class="user_name">작성자 : apple</td>
                                <td>등록일 : 2021-12-24</td>
                            </tr>
                            <tr>
                                <td colspan="3"><textarea name="" id="" readonly>
    안녕하세요 제가 12월 25일 김포공항에서 인천공항하는 편을 예약했다가 취소하게 되었는데 
    환불 금액을 언제 돌려받을 수 있을 까요?
                                                                </textarea></td>
                            </tr>
                        </table>
                    </div>
                    <div class="answer_table">
                    <table>
                            <tr>
                                <td>결제금액은 언제 돌려받아요?</td>
                                <td>답변일 : 2021-12-24</td>
                            </tr>
                            <tr>
                                <td colspan="3"><textarea name="" id="" readonly>
    안녕하세요. 진에어 고객 관리 팀입니다. 
    현재 고객님의 환불 절차가 정상적으로 진행되고있음을 알려드리고
    환불 절차에 따라 1주에서 2주정도의 기간이 소요됨을 알려드립니다. 
    다음에 더욱 안전한 여행으로 보답드리겠습니다. 감사합니다. 

    Fly, better fly Jin Air 

                                </textarea></td>
                            </tr>
                        </table>
                    </div>
                    <div class="footer">
                        <a href="./qna_main.html" class="list"><input type="button" value="목록"></a>
                        <a href="./qna_reply.html" class="reply"><input type="button" value="답변하기"></a>
                    </div>
                </div>
            </div>
            <div class="btn_user_container">
                <div class="btn_user_info">
                    <p class="btn_user">작성자 정보 보기</p>
                </div>
            </div>
            <div class="user_container">
                <div class="user_info">
                    <p>고객정보</p>
                    <p>이름 : 홍길동</p>
                    <p>아이디 : dongdong</p>
                    <p>연락처 : 010-1111-1111</p>
                    <p>이메일 : xlthslrlx@naver.com</p>
                    <p>예약번호 : DFDG-1111-3422-SDFD</p>
                    <p>외신 불요 여부 문의 : 희망</p>
                    <p>개인정보 수집 동의 : 동의</p>
                    <input type="button" value="확인" class="btn_check">
                </div>
            </div>
        </div>
    </div>
</body>
</html>